/*********************** NAVBAR *************************/

@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

.navbar {
  font-family: 'RocknRoll One', sans-serif;
  font-size: 12px;
  margin-top: 20px;
  margin-right: 100px;
  margin-left: 100px;
}

.navbar .collapse .nav-item{
  margin-left: 30px;
}

.navbar .collapse .btn{
  background: linear-gradient(to bottom, #ffd905, #ff9100);;
  width: 150%;
  color: white;
  font-size: 12px;
  border-radius: 50px;
}

.navbar .navbar-brand{
  font-size: 20px;
}

.navbar .collapse .active{
  text-emphasis-color: green;
}

/*********************** HEADER *************************/

.header-wrapper {
  font-family: 'RocknRoll One', sans-serif;
  height: 500px;
  width: auto;
  background-image: url("developerbg.png");
}

.header-wrapper .header-text {
  width: 60%;
  padding-top: 100px;
  padding-left: 100px;
}
